.section-experience {
    width: 100%;
    display: flex;
    justify-content: center;
    scroll-margin-top: 50px;
    padding: 30px 20px;
}

.section-experience-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 0 60px;

}

.section-experience-header {
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.section-experience-header h1 {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
}

.experience-years {
    font-family:"Playfair Display", serif;
    font-size:1.5rem;
    color:#777;
    padding-left:20px;
    border-left:1px solid #ccc;
}


.section-experience-content{
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.section-experience-content article {
    width: 100%;
    height: auto;
    margin: 0px;
    display: grid;
    grid-template-columns: 28% auto;
    justify-content: center;
    align-items: start;
}


.section-experience-content article  .left-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 0px;
}
.section-experience-content article  .left-container h2 {
    font-family: "Playfair Display", serif;
    font-size: 1.4rem;
    margin: 0px;
    margin-bottom: 10px;
    font-weight: bold;
    color: blue;
}

.section-experience-content article  .left-container p {
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    line-height: 1.8;
    letter-spacing: 0.3px;
    margin: 0px;
    gap: 5px;
}

.section-experience-content article  .left-container .date {
    opacity: 0.5;
    font-weight: normal;
}

.section-experience-content article .right-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.section-experience-content article .right-container p {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    line-height: 1.8;
    letter-spacing: 0.3px;
     white-space: pre-line;
}

@media (max-width: 700px) {
    .section-experience-content article {
        width: 100%;
        height: auto;
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
    }
}